* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter));

  /* Hámarksbreidd á efni */
  --max-width: 1400px;
  --width-offset: calc(100% - (2 * var(--offset)));

  /* Border breiddir */
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;

  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
}

h1,
h2,
h3 {
  margin-bottom: var(--spacing);
}

a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header .icon{
  display: flex;
  width: 30%;
}

.header .icon img{
  size: initial;
}

.header{
  display: flex;
}

.header ul li{
  list-style: none;
}

.main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--vertical-space);
}
.boxes .box{
  display: flex;
  flex-direction: row;
  padding: 5rem 10rem;
}

.boxes .texti{
  width: 50%;
  padding: 1rem;
}

.boxes .texti p{
  padding: 2rem 0;
}

.boxes .box a{
  padding: 1rem;
  background-color: #6F4E37;
  color: white;
  margin: 1rem;

}

.cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: var(--spacing);
  background-color: #e1cec2;
  padding: var(--spacing);
}

.cards .card {
  grid-column: span 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 2%;
}

.cards .card img{
  order: -1;
}

.cards h2 {
  grid-column: span 12;
}

.card .tags{ 
  display: flex;
  width: fit-content;
  gap: 1rem;
  align-content: space-around;
}

.card .tags p{
  background-color: #e1cec2;
  border-radius: 5%;
  padding: 0.5rem;
}

.card .verd {
  padding:1rem 0;
}

.card h3{
  padding-top: 1rem;
}

.card button {
  border: 2px solid #3C2A1E;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
}

.footer {
  display: grid;

  justify-content: center;

  padding: var(--spacing);
  background-color: #3c2a1e;
  color: white;
}

.footer .content {
  display: grid;
  gap: var(--vertical-space);
  margin: 0 auto;
}
@media (min-width: 500px) {
  .footer .content {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
  }

  .footer section {
    grid-column-end: span 4;
  }
}

.footer .copy-right {
  border-top: solid 1px #6F4E37;
  grid-column-start: 5;
  width: fit-content;
}

.footer h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #e1cec2;
}

.footer ul {
  list-style: none;
  text-decoration: none;
}
